%ul#glossary{:title => 'Glossary'}
  %li= link_to 'Activation Cost', '#activation_cost'
  %li= link_to 'Adjacent', '#adjacent'
  %li= link_to 'Affiliation', '#affiliation'
  
#activation_cost.panel
  %h3 Activation Cost
  %p The amount of mana you must spend to make one of your creatures attack or turn 90ยบ on its field.
#adjacent.panel
  %h3 Adjacent 
  %p A neighboring field, on the horizontal or vertical axis (not diagonal).
#affiliation.panel
  %h3 Affiliation
  %p 
    A creature group label used to trigger certain special rules and combos. 
    For example: Flame Magus and Aluhja Priestess are both affiliated to the Church of Parmus.