%ul#glossary{:title => 'Glossary'}
  - for definition in Definition.all(:order => 'name')
    %li= link_to definition.name, "##{dom_id(definition)}"

- for definition in Definition.all(:order => 'name')
  .panel{:id => dom_id(definition), :title => definition.name}
    %h3= definition.name
    %p= definition.description