%form{:id => "searchForm", :class => "dialog", :action => list_cards_path, :method => 'GET'}
  %fieldset
    %h1 Card Search
    %a.button.leftButton{:type => "cancel"} Cancel
    %a.button.blueButton{:type => "submit"} Search

    %label #:
    %input{:type => "text", :name => "number"}
    %label Name:
    %input{:type => "text", :name => "title"}