!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      EoJ Card Browser
    %meta{:name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %style{:type => "text/css", :media => "screen"} @import "/iui/iuix.css";
    %script{:type => "application/x-javascript", :src => "/iui/iui.js"}
  %body
    = yield