!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      EoJ Card Browser
    %meta{:name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %style{:type => "text/css", :media => "screen"} @import "/iui/iui.css";
    %script{:type => "application/x-javascript", :src => "/iui/iui.js"}
  %body  
    = yield
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-1031581-5");
    pageTracker._trackPageview();
    </script>